{% extends "base.html" %}

{% block title %}Group Chat Page{% endblock title %}

{% block main_content %}<br> 
              <div class='row-4'>
                <center> 
                    <button class="btn btn-warning"> <a href="{% url "home" %}"> < Back </a> </button>
                </center>
             </div>


             <div class="container">
              <div class="col">
                  <i>Current User: </i>
                  <h3 style="color: orange">{{ user.username }}</h3>
                  <center><h2>Group <span style="color: orange">Chat</span></h2></center>
                  <div class="history_chat">
                      <ul>
                          {% for message in message %}
                          <li>
                              <span class='span_userName'>{{message.Account_owner}}: </span>
                              {{ message.content }}
                              <span class='span_timestamp'> {{message.timestamp}} </span>
                          </li>
                          {% endfor %}
                      </ul>
                  </div>
                  <div class='new_message'>
                    <ul>
                      <li>

                      </li>
                    </ul>
                  </div>
                  <div class="send_receive_chat">
                      <div class="id_chat_item_container" id="id_chat_item_container"></div>
                      <form>
                          <input class="form-control sendInput" name="message" type="text" id="id_message_send_input" />
                          <button class="btn btn-warning sendInput" type="submit" id="id_message_send_button">send</button>
                      </form>
                  </div>
              </div>
          </div>
          
<style>
  .card {
    background: transparent;
    border-radius: 28px;
    height: 700px;
    overflow-y: scroll;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .send_receive_chat {
    position: relative;
}
  
  .span_userName {
    margin: 0;
    margin-left: 10px;
    color: orange; 
    
  }

  .span_timestamp {
    color: green;
    text-align: right;
    font-size: 10px;
  }
  
  .history_chat {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 28px;
    height: 400px; 
    overflow-y: scroll;
    margin-bottom: 20px;
  }
  
  .sendInput {
    margin-bottom: 10px;
  }

  .history_chat ul {
    list-style-type: none;
}

.history_chat li {
  margin-bottom: 10px;
  padding: 8px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

  form {
    display: flex;
    align-items: center;
    margin-botton: 5%;
  }

  .new_message {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 10px;
}

.new_message ul {
  list-style-type: none;
}

.new_message li {
  margin-bottom: 10px;
  padding: 8px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

  .id_chat_item_container {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
  }
</style>
      <script>
          const protocol = window.location.protocol === "https:" ? "wss://" : "ws://";
          const chatSocket = new WebSocket(protocol + window.location.host + "/ws/chat/");
          chatSocket.onopen = function (e) {
            console.log("The connection was setup successfully !");
          };
          chatSocket.onclose = function (e) {
            console.log("Something unexpected happened !");
          };
          document.querySelector("#id_message_send_input").focus();
          document.querySelector("#id_message_send_input").onkeyup = function (e) {
            if (e.keyCode == 13) {
              document.querySelector("#id_message_send_button").click();
            }
          };
          document.querySelector("#id_message_send_button").onclick = function (e) {
            var messageInput = document.querySelector("#id_message_send_input").value;
              chatSocket.send(JSON.stringify({ message: messageInput, username : "{{request.user.username}}"}));
            };
            chatSocket.onmessage = function (e) {
              const data = JSON.parse(e.data);
              var div = document.createElement("div");
              div.innerHTML = data.username + " : " + data.message;
              div.classList.add("new_message");
              document.querySelector("#id_message_send_input").value = "";
              const parentContainer = document.querySelector("#id_chat_item_container");
              const existingElement = parentContainer.firstChild;
              parentContainer.insertBefore(div, existingElement);
            };         
      </script>
{% endblock main_content %}



