{% extends "base.html" %}

{% block title %}Chat Page{% endblock title %}

{% block main_content %}<br> 
              <div class='row-4'>
                <center> 
                    <button class="btn btn-warning"> <a href="{% url "home" %}"> < Back </a> </button>
                </center>
             </div>
<div class="container">
    <div class="row">
        <div class="col-4">
            <i>Current User: </i> <h3 style="color: orange"> {{ user.username }}</h3>
            <div
            class="id_chat_item_container"
            id="id_chat_item_container"
            >
                <br />
                <input class="form-control" type="text" id="id_message_send_input" />
                <br />
                <button class="btn btn-primary" type="submit" id="id_message_send_button">Send Message</button>
            </div>
          </div>
        </div>
      </div>
      
      <script>
          const protocol = window.location.protocol === "https:" ? "wss://" : "ws://";
          const chatSocket = new WebSocket(protocol + window.location.host + "/ws/chat/");
          chatSocket.onopen = function (e) {
            console.log("The connection was setup successfully !");
          };
          chatSocket.onclose = function (e) {
            console.log("Something unexpected happened !");
          };
          document.querySelector("#id_message_send_input").focus();
          document.querySelector("#id_message_send_input").onkeyup = function (e) {
            if (e.keyCode == 13) {
              document.querySelector("#id_message_send_button").click();
            }
          };
          document.querySelector("#id_message_send_button").onclick = function (e) {
            var messageInput = document.querySelector(
              "#id_message_send_input"
              ).value;
              chatSocket.send(JSON.stringify({ message: messageInput, username : "{{request.user.username}}"}));
            };
            chatSocket.onmessage = function (e) {
              const data = JSON.parse(e.data);
              var div = document.createElement("div");
              div.innerHTML = data.username + " : " + data.message;
              document.querySelector("#id_message_send_input").value = "";
              document.querySelector("#id_chat_item_container").appendChild(div);
            };
            
          </script>
{% endblock main_content %}



