{% extends "base.html" %}

{% block title %}Group Chat Page{% endblock title %}

{% block main_content %}<br> 
              <div class='row-4'>
                <center> 
                    <button class="btn btn-warning"> <a href="{% url "home" %}"> < Back </a> </button>
                </center>
             </div>


             <div class="container">
                <div class="col">
                  <i>Current User: </i>
                  <h3 style="color: orange"> {{ user.username }}</h3>
                  <h2>Group <span style="color: orange">Chat</span></h2>
                  <div class="card">
                    <div class='histroy_chat'>
                      <ul>
                        {% for message in message %}
                        <p>
                          <span class='span_userName'>{{message.Account_owner}}: </span>
                          {{ message.content }}
                          <span class='span_timestamp'> {{message.timestamp}} </span>
                        </p>
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="id_chat_item_container " id="id_chat_item_container"></div>
                  </div>
                  <form>
                    <input class="form-control sendInput" name="message" type="text" id="id_message_send_input" />
                    <button class="btn btn-warning sendInput" type="submit" id="id_message_send_button">send</button>
                  </form>
                </div>
            </div>
<style>
  .card {
    background: transparent;
    border-radius: 28px;
    height: 700px;
    overflow-y: scroll;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .span_userName {
    margin: 0;
    margin-left: 10;
    color: orange; 
    
  }

  .span_timestamp {
    color: green;
    text-align: right;
    font-size: 10px;
  }
  
  .id_chat_item_container {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
  }
  
  .history_chat {
    position: absolute;
    max-height: 100px;
  }
  
  .sendInput {
    margin-bottom: 15%;
  }

  form {
    display: flex;
    align-items: center;
    margin-botton: 5%;
  }
</style>
      <script>
          const protocol = window.location.protocol === "https:" ? "wss://" : "ws://";
          const chatSocket = new WebSocket(protocol + window.location.host + "/ws/chat/");
          chatSocket.onopen = function (e) {
            console.log("The connection was setup successfully !");
          };
          chatSocket.onclose = function (e) {
            console.log("Something unexpected happened !");
          };
          document.querySelector("#id_message_send_input").focus();
          document.querySelector("#id_message_send_input").onkeyup = function (e) {
            if (e.keyCode == 13) {
              document.querySelector("#id_message_send_button").click();
            }
          };
          document.querySelector("#id_message_send_button").onclick = function (e) {
            var messageInput = document.querySelector("#id_message_send_input").value;
              chatSocket.send(JSON.stringify({ message: messageInput, username : "{{request.user.username}}"}));
            };
            chatSocket.onmessage = function (e) {
              const data = JSON.parse(e.data);
              var div = document.createElement("div");
              div.innerHTML = data.username + " : " + data.message;
              document.querySelector("#id_message_send_input").value = "";
              const parentContainer = document.querySelector("#id_chat_item_container");
              const existingElement = parentContainer.firstChild;
              parentContainer.insertBefore(div, existingElement);
            };         
      </script>
{% endblock main_content %}



