{% extends "base.html" %}

{% block title %}Home Page{% endblock title %}
{% block main_content %}
{% if user.is_authenticated %}
<br>
<div class="container">
    <center> <button class="btn btn-warning"><a href='logout'>Logout</a> </button></center>
    <h2><br>
        <br><br>
        <center>Welcome {{user.get_username}}, Thanks for logging in into our Django Chat webapp.</center>
    </h2>
    <div class="container">
        <center>
            <h2> 
                <button class='btn btn-warning'> <a href="{% url 'chatbox' %}">Chat Room</a> </button>
            </h2>
        </center>
    </div>
    {% else %}
    <br>
    <div class="container">
        <center>
            <h2> 
                Welcome Stranger, Thanks for visiting our Django Chat webApp.
            </h2>
            <br> Kindly <button class="btn btn-warning"> <a href={% url "login1" %}>login </a> </button>
            or <button class="btn btn-warning"> <a href="{% url "signup" %}">Register</a> </button>
            yourself into our website.
            </h2>
        </center>
    </div>
    {% endif %}
</div>

{% endblock main_content %}