{% extends "base.html" %}

{% block title %}Home Page{% endblock title %}
{% block main_content %}
{% if user.is_authenticated %}
<br>
<div class="container">
    <center><a href='logout'>Logout</a></center>
    <h2><br>
        <br><br>
        <center>Welcome {{user.get_username}}, Thanks for logging in into our website.</center>
    </h2>
    {% else %}
    <br>
    <div class="container">
        <center>
            <h2> 
                Welcome Stranger, Thanks for visiting our website.
            </h2>
            <br> Kindly <button class="btn btn-warning"> <a href={% url "login1" %}>login </a> </button>
            or <button class="btn btn-warning"> <a href="{% url "signup" %}">Register</a> </button>
            yourself into our website.
            </h2>
        </center>
    </div>
    {% endif %}
</div>

{% endblock main_content %}