body{
    max-height: 1000px;
    background-color: rgba(255, 166, 0, 0.715);
    background-image: url("../img/0BkTEW.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow: hidden; */
}
@media screen and (max-height: 650px) {
    body{
        max-height: 700px;
    }
    .card{
        transform: scale(0.6);
        height: 580px;
    }
    
}
