body{
    /* max-height: 1000px; */
    background-color: rgba(255, 166, 0, 0.715);
    background-image: url("../img/0BkTEW.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow: hidden; */
}

:root{
    --main-color: rgba(255, 166, 0, 0.911);
    --bg-color: rgba(255, 255, 255, 0.5);
    --btn-color: rgb(2, 0, 8) ;

}

.card {
    background: transparent;
    border-radius: 28px;
    height: 700px;
    overflow-y: scroll;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: var(--bg-color);
}

.col > h3 {
    color: rgba(255, 166, 0, 0.652);
}

.span_userName {
    margin: 0;
    margin-left: 10px;
    color: var(--main-color);
    
}

.span_timestamp {
    color: green;
    text-align: right;
    font-size: 10px;
}

.sendInput {
    margin-bottom: 30px;
    gap: 1rem;
    color: var(--btn-color);
}

.history_chat {
    background-color: var(--bg-color);
    border-radius: 20px;
    height: 600px; 
    overflow-y: scroll;
    margin-bottom: 20px;
}

.history_chat ul {
    list-style-type: none;
    padding: 2rem;
}

.history_chat li {
    margin-bottom: 5px;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 4px;
    width: auto;
}

form {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
    border-radius: 20px;
}

.btn {
    color: chocolate;
}

.id_chat_item_container {
    position: relative;
}