body{
    /* max-height: 1000px; */
    background-color: rgba(255, 166, 0, 0.715);
    background-image: url("../img/0BkTEW.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow: hidden; */
}
/* @media screen and (max-height: 650px) {
    body{
        max-height: 700px;
    }
    .card{
        transform: scale(0.6);
        height: 580px;
    }
    
} */

.card {
    background: transparent;
    border-radius: 28px;
    height: 700px;
    overflow-y: scroll;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.5);
  }

.send_receive_chat {
     position: relative;
  }
  
.span_userName {
    margin: 0;
    margin-left: 10px;
    color: orange; 
    
  }

.span_timestamp {
    color: green;
    text-align: right;
    font-size: 10px;
  }
  
.sendInput {
    margin-bottom: 10px;
  }
  
.history_chat {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 28px;
    height: 600px; 
    overflow-y: scroll;
    margin-bottom: 20px;
  }

.history_chat ul {
    list-style-type: none;
}

.history_chat li {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

form {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
  }

.new_message {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 8px;
    margin-bottom: 10px;
    height: 200px
}

.new_message ul {
  list-style-type: none;
}

.new_message li {
  margin-bottom: 10px;
  padding: 8px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.id_chat_item_container {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
  }